/* FONDO */

.btn-primary, .page-item.active .page-link
{
  background-color: #ef7275 !important;
  border-color: #ef7275 !important;
  color: rgba(0,0,0,.9) !important;
}

/* COLOR LETRA */

.page-link
{
  color: #000 !important;
}

/* FORMULARIO */

input:focus, .form-control:focus, .btn-primary:focus
{
  border: 2px solid #ef7275 !important;
  -webkit-box-shadow: 0 0 0 .2rem rgba(239,114,117,.2) !important;
  box-shadow: 0 0 0 .2rem rgba(239,115,117,.2) !important;
}

/* HOVER */

.dropdown-item:hover, tbody tr:hover, .page-link:hover
{
  background-color: rgba(239,115,117,.2) !important;
  color: rgba(0,0,0,.9) !important;
}

/* BOX - CARD */

.margenes-cajas
{
  margin-top: 10px;
  margin-bottom: 10px
}

.card
{
  padding: 0px !important;
}

/* MAIN */

main
{
  height: auto;
  min-height: 800px;
}

/* FOOTER */

footer
{
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: #ef7275;
}